@import "../variables";

.note {
  margin: 0.5em 0em;
}

.note-input {
  width: 100%;
  height: 50px;
  margin: 1em 0em;
  padding: 1em;
  border: 1px solid $dark-knight;
  border-radius: 7px;
}

.save-note-btn {
  background: $rueful-rose;
  color: white;
}

.save-note-btn:hover {
  background: white;
  color: $rueful-rose;
  border: 1px solid $rueful-rose;
}
