@import "../variables";

.sidebar {
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.nav-icon {
  height: 24px;
  width: 24px;
  color: $rueful-rose;
  margin-right: 0.5em;
  cursor: pointer;
}

.nav-item {
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brand-name {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .nav-text {
    display: none;
  }
}
