@import "../variables";

.nav-icon {
  height: 24px;
  width: 24px;
  color: $gecko-green;
  margin-right: 0.5em;
}

.nav-item {
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brand-name {
  cursor: pointer;
}
