@import "../variables";

.sidebar {
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.brand-name {
  position: relative;
  transform: translate(75px, 0px);
  cursor: pointer;
}

.nav-icon {
  height: 24px;
  width: 24px;
  color: $rueful-rose;
  margin-right: 0.5em;
  cursor: pointer;
}

.nav-item {
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
  position: relative;
  transform: translate(75px, 0px);
  border-radius: 24px;
  padding: 0.75em;
}

.nav-item-current {
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ffff;
  width: 250px;
  position: relative;
  transform: translate(75px, 0px);
  border-radius: 24px;
  padding: 0.75em;
}

.nav-text {
  color: $whitman-white;
}

.nav-text-current {
  color: $dark-knight;
}

@media only screen and (max-width: 1200px) {
  .nav-text {
    display: none;
  }
}
