@import "../styles//variables";

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.video-thumbnail {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.video-thumbnail-container {
  height: 100%;
}

.video-card {
  width: 50%;
  margin: 1em;
  cursor: pointer;
}
