@import "../styles/variables";

.content-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $whitman-white;
  height: 95vh;
  border-radius: 24px;
  padding: 2.75em;
}

@media only screen and (max-width: 375px) {
  .content-view {
    height: 100vh;
    width: 100%;
    border-radius: 0;
    padding: 1.25em;
    overflow: hidden;
  }
}
