@import "../styles//variables";

.signup-btn {
  background-color: $rueful-rose;
  color: $whitman-white;
  border-radius: 14px;
  height: 50px;
  width: 225px;
  margin: 3em 0em;
  display: flex;
  align-items: center;
  justify-content: center;
}
