@import "../styles//variables";

.roadmap-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 3em;
}

.roadmap-section {
  margin: 0.75em 0em;
}
