@import "../styles/_variables";

.topic-graphic {
  height: 150px;
  margin: 0.75em;
  cursor: pointer;
}

.topic-graphic:hover {
  filter: drop-shadow(4px 1px 2px gray);
}

.topic-view {
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
