@import "../styles//variables";

.tutorial-card {
  max-width: 250px;
  height: 30vh;
  margin: 1em;
}

.playlists-list {
  display: flex;
}

.playlist-description {
  white-space: pre-wrap;
}

.preview-video {
  height: 20vh;
  width: 100%;
}

.video-list {
  height: 150px;
  margin: 0.5em;
}
