@import "../styles//variables";

.tutorial-card {
  min-height: 275px;
  width: 200px;
  margin: 0.5em;
}

.playlists-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
  margin: 10em 0em;
}

.playlist-description {
  white-space: pre-wrap;
}

.preview-video {
  height: 20vh;
  width: 100%;
}

.tutorial-video {
  height: 20vh;
  width: 100%;
  position: absolute;
}

.video-list {
  height: 150px;
  margin: 0.5em;
}

.tutorial-container {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dropdown-icon {
  height: 24px;
  width: 24px;
  color: $dark-knight;
}

.notes-list {
  flex-direction: column;
}

// .video-column {
//   position: relative;
// }

.next-video-btn {
  background: transparent;
}

.previous-video-btn {
  background: transparent;
}

.video-nav-icon {
  height: 24px;
  width: 24px;
}

.dropdown-active {
  display: flex;
}

.dropdown-hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .tutorial-container {
    height: 100%;
    width: 100%;
    padding: 1.5em;
  }
}
